* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: space-between;
}

#app-wrapper {
  height: 100vh;
  padding-left: 15px;
}

#title {
  display: flex;
  align-items: center;
  margin-right: 10rem;
  font-size: 2.1em;
  color: solid black;
  font-weight: 3em;
}

#menu-1 {
  display: contents;
  align-items: center;
  justify-content: center;
}

.menu-items {
  margin-right: 30px;
  font-size: 1.25em;
  color: black;
}

#menu-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  font-size: 1.25em;
  color: black;
}

#contact {
  margin-right: 30px;
}

#btn {
  cursor: pointer;
  color: white;
  background-color: black;
  margin-left: 30px;
  font-size: 0.75em;
  padding: 0.25em 1em;
  border-radius: 8px;
}